.carousel-item {
  /* width: 100%; */
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#nav {
  background-color: #ffbd59;
  opacity: 100%;
}
@media (min-width: 768px) {
  .affix-top {
    /* navbar style at top */
    background-color: transparent;
    border-color: transparent;
    /* padding: 0px; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #ffbd59;
  color: #fff;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.navbar-nav ml-auto {
  color: #0000;
  text-decoration: underline;
}
#search {
  float: left;
  /* display: inline-flex; */
}
section {
  display: block;
  /* height: calc(90% - 50px); */
  height: 110vh;
}
footer {
  background-color: #4b515d;
}
img {
  background-image: url("https://export-download.canva.com/DAD2ioyD9Jk/19/0/0001-5530780915.png?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27Grab-a-bite.png&response-expires=Sat%2C%2014%20Mar%202020%2019%3A39%3A21%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200314T181429Z&X-Amz-SignedHeaders=host&X-Amz-Expires=5091&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20200314%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=94b779b5282d860fb31c229fa446c92a74ea4c63cdc31b748ff4a0113be9bfa4");
}
.bg1-pattern {
  background-image: url("https://www.wallpaperthehome.com/26429-large_default/2827-7173-in-bloom-wallpaper-by-borastapeter-fragment-off-white-texture.jpg");
  background-repeat: repeat;
}

.bg2-pattern {
  background-image: url("https://images.pexels.com/photos/1402790/pexels-photo-1402790.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: repeat;
}

.bg3-pattern {
  /* background-image: url("https://www.wallpaperthehome.com/26429-large_default/2827-7173-in-bloom-wallpaper-by-borastapeter-fragment-off-white-texture.jpg"); */
  background-repeat: repeat;
  background-color: #bdbdbd;
}
#h5 {
  color: aqua;
}
.sec1-center {
  text-align: center;
  padding: 15%;
}
/* for nav bar */
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.MuiDrawer-paper.MuiDrawer-paperAnchorRight {
  margin-top: 80px;
  background-color: #222;
}

@media screen and (max-width: 580px) {
  .MuiDrawer-paper.MuiDrawer-paperAnchorRight {
    margin-top: 201px;
  }
  .limiter {
    margin-top: 160px;
  }
  .closebtn {
    margin-top: "143px";
  }
  .restaurantCafe {
    margin-top: "70px";
  }
}
